/* Footer.css */
.nav-link.text-body-secondary {
    color: whitesmoke !important;
}

.section-title {
    color: green !important;
}

.text-body-secondary{
    color: whitesmoke !important;
}

.ft{
    margin-bottom: 0px !important;
}