.grid-container {
    margin: 10% auto;
  }
  
  .grid {
    white-space: pre;
  }
  
  button {
    gap: 10px;
  }

  .yay{
    margin-top: 0px;
    margin-left: 20px;
  }

  .node-wall{
    background-color: #dee2e6;
  }